@{
    ViewBag.Title = "About";
}

        <!-- .page-title-container start -->
<section class="page-title-container">

    <!-- .container_12 start -->
    <div class="container_12">

        <!-- .page-title start -->
        <div class="page-title grid_12">
            <div class="title">
                <h1>About us</h1>
            </div>

            <div class="subtitle">
                <h3>We are Creative Web Agency</h3>
            </div>
        </div><!-- .page-title end -->
    </div><!-- .container_12 end -->
</section><!-- .page-title-container end -->
<!-- #content-wrapper start -->
<section id="content-wrapper">

    <!-- .container_12 start -->
    <div class="container_12">

        <!-- .grid_6 .slider-wrapper start -->
        <article class="grid_6 slider-wrapper">

            <!-- #slider .nivoSlider .image-slider start -->
            <section id="slider" class="nivoSlider image-slider">
                <img src="~/Content/Template/img/about/slide1.jpg" alt="slider image" title="#htmlcaption1" />
                <img src="~/Content/Template/img/about/slide2.jpg" alt="slider-image" title="#htmlcaption2" />
                <img src="~/Content/Template/img/about/slide3.jpg" alt="slider image" title="#htmlcaption3" />
            </section><!-- #slider .nivoSlider .image-slider end -->
            <!-- #htmlcaption1 start -->
            <div id="htmlcaption1">
                <div class="title-wrap">
                    <div class="title">
                        <h3>Super Creative Agency</h3>
                    </div>
                </div>

                <div class="subtitle-wrap">
                    <div class="subtitle">
                        <p>With lot of experience in the field</p>
                    </div>
                </div>
            </div><!-- #htmlcaption1 end -->
            <!-- #htmlcaption1 start -->
            <div id="htmlcaption2">
                <div class="title-wrap">
                    <div class="title">
                        <h3>Making Web Responsive</h3>
                    </div>
                </div>

                <div class="subtitle-wrap">
                    <div class="subtitle">
                        <p>Your Websites will look excellent on any device</p>
                    </div>
                </div>
            </div><!-- #htmlcaption1 end -->
            <!-- #htmlcaption1 start -->
            <div id="htmlcaption3">
                <div class="title-wrap">
                    <div class="title">
                        <h3>Highly Professional Team</h3>
                    </div>
                </div>

                <div class="subtitle-wrap">
                    <div class="subtitle">
                        <p>Take a second a meet our creative professionals</p>
                    </div>
                </div>
            </div><!-- #htmlcaption1 end -->

        </article><!-- .grid_6 .slider-wrapper end -->
        <!-- .grid_6 start -->
        <article class="grid_6">
            <section class="section-title left">
                <h3>Welcome to Our Website</h3>
            </section>

            <span class="text-dark text-big">
                We are super creative agency specialized in creating
                beautiful, clean and responsive premium web themes.
            </span>

            <br /><br />

            <p>
                Lorem ipsum dolor sit amet, cosectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad
                minim veniam, quis nostrud exerci. Claritas est etiam
                processus dynamicus, qui sequitur mutationem
                consuetudium lectorum. Mirum est notare quam littera
                gothica, quam nunc putamus parum claram, anteposuerit
                litterarum.

                <br /><br />

                Claritas est etiam processus dynamicus, qui sequitur
                mutationem consuetudium lectorum. Mirum est notare quam
                littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum.  Eodem modo typi, qui nunc
                nobis videntur parum clari, fiant sollemnes in futurum.
            </p>
        </article><!-- .grid_6 end -->

        <div class="clearfix"></div>

        <!-- .grid_8 start -->
        <article class="grid_8">
            <!-- .section-title .center start -->
            <section class="section-title center">
                <div class="title-container">
                    <section class="title">
                        <h2>Why Choose Us</h2>
                        <span>Top Reasons to Choose (Our COMPANY)</span>
                    </section>
                </div>
            </section><!-- .section-title .center end -->

            <img src="~/Content/Template/img/about/responsive.png" class="float-left" alt="image" />

            <p>
                Lorem ipsum dolor sit amet, cosectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad
                minim veniam, quis nostrud exerci tation ullamcorper
                suscipit loboris nisl ut aliquip ex ea commodo.
            </p>

            <br />

            <ul class="arrow-list">
                <li>Super clean and responsive design that will look excellent on any device</li>
                <li>Organized, commented clean code makes customization incredibly easy</li>
                <li>Three different layouts with five predefined color options</li>
            </ul>
        </article><!-- .grid_8 end -->
        <!-- grid_4 start -->
        <article class="grid_4">
            <!-- .section-title .center start -->
            <section class="section-title center">
                <div class="title-container">
                    <section class="title">
                        <h2>What We Do</h2>
                        <span>Our fields of expertise</span>
                    </section>
                </div>
            </section><!-- .section-title .center end -->
            <!-- .skills-bar -->
            <article class="skills-bar">
                <ul class="skills">
                    <li>

                        <span class="expand web-design"></span>
                        <em>Web design 80%</em>
                    </li>

                    <li>

                        <span class="expand web-development"></span>
                        <em>Web development 70%</em>
                    </li>

                    <li>

                        <span class="expand wordpress"></span>
                        <em>Wordpress 90%</em>
                    </li>

                    <li>

                        <span class="expand marketing"></span>
                        <em>Marketing 60%</em>
                    </li>
                </ul>
            </article><!-- .skills-bar -->
        </article><!-- grid_4 end -->
        <!-- .grid_12 start -->
        <article class="grid_12">
            <!-- .section-title .center start -->
            <section class="section-title center">
                <div class="title-container">
                    <section class="title">
                        <h2>Our Team</h2>
                        <span>Meet our professionals</span>
                    </section>
                </div>
            </section><!-- .section-title .center end -->
            <!-- .grid_4 alpha .team start -->
            <article class="grid_3 alpha team">

                <!-- .team-info start -->
                <section class="team-info">
                    <img src="~/Content/Template/img/about/team1.jpg" alt="team member" />

                    <div class="title-position">
                        <div class="title">
                            <h6>Brian Simper</h6>
                        </div>

                        <div class="position">
                            <span>Company CEO, Marketing</span>
                        </div>
                    </div>
                </section><!-- .team-info end -->
                <!-- .team-cv start -->
                <section class="team-cv">
                    <p>
                        Duis autem vel eum iriure dolor in hend rerit in
                        vulputate velit esse molese con sequat, vel
                        illum dolore eu feugiat nulla facilisis at vero
                        eros.
                    </p>
                </section><!-- .team-cv end -->
                <!-- .team-social start -->
                <ul class="team-social-links">
                    <li>
                        <a href="#" class="pixons-twitter-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-google_plus"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-linkedin"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-facebook-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-xing"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-skype"></a>
                    </li>
                </ul><!-- .team-social end -->

            </article><!-- .grid_4 .slpha .team end -->
            <!-- .grid_4 .team start -->
            <article class="grid_3 team">

                <!-- .team-info start -->
                <section class="team-info">
                    <img src="~/Content/Template/img/about/team2.jpg" alt="team member" />

                    <div class="title-position">
                        <div class="title">
                            <h6>RiO</h6>
                        </div>

                        <div class="position">
                            <span>Web Developer</span>
                        </div>
                    </div>
                </section><!-- .team-info end -->
                <!-- .team-cv start -->
                <section class="team-cv">
                    <p>
                        Duis autem vel eum iriure dolor in hend rerit in
                        vulputate velit esse molese con sequat, vel
                        illum dolore eu feugiat nulla facilisis at vero
                        eros.
                    </p>
                </section><!-- .team-cv end -->
                <!-- .team-social start -->
                <ul class="team-social-links">
                    <li>
                        <a href="#" class="pixons-twitter-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-google_plus"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-linkedin"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-facebook-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-xing"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-skype"></a>
                    </li>
                </ul><!-- .team-social end -->

            </article><!-- .grid_4 .team end -->
            <!-- .grid_4 .team start -->
            <article class="grid_3 team">

                <!-- .team-info start -->
                <section class="team-info">
                    <img src="~/Content/Template/img/about/team3.jpg" alt="team member" />

                    <div class="title-position">
                        <div class="title">
                            <h6>Milla Hollser</h6>
                        </div>

                        <div class="position">
                            <span>Senior Marketing Manager</span>
                        </div>
                    </div>
                </section><!-- .team-info end -->
                <!-- .team-cv start -->
                <section class="team-cv">
                    <p>
                        Duis autem vel eum iriure dolor in hend rerit in
                        vulputate velit esse molese con sequat, vel
                        illum dolore eu feugiat nulla facilisis at vero
                        eros.
                    </p>
                </section><!-- .team-cv end -->
                <!-- .team-social start -->
                <ul class="team-social-links">
                    <li>
                        <a href="#" class="pixons-twitter-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-google_plus"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-linkedin"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-facebook-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-xing"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-skype"></a>
                    </li>
                </ul><!-- .team-social end -->

            </article><!-- .grid_4 .team end -->
            <!-- .grid_4 omega .team start -->
            <article class="grid_3 omega team">

                <!-- .team-info start -->
                <section class="team-info">
                    <img src="~/Content/Template/img/about/team4.jpg" alt="team member" />

                    <div class="title-position">
                        <div class="title">
                            <h6>Chris Darster</h6>
                        </div>

                        <div class="position">
                            <span>Senior Web Designer</span>
                        </div>
                    </div>
                </section><!-- .team-info end -->
                <!-- .team-cv start -->
                <section class="team-cv">
                    <p>
                        Duis autem vel eum iriure dolor in hend rerit in
                        vulputate velit esse molese con sequat, vel
                        illum dolore eu feugiat nulla facilisis at vero
                        eros.
                    </p>
                </section><!-- .team-cv end -->
                <!-- .team-social start -->
                <ul class="team-social-links">
                    <li>
                        <a href="#" class="pixons-twitter-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-google_plus"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-linkedin"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-facebook-1"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-xing"></a>
                    </li>

                    <li>
                        <a href="#" class="pixons-skype"></a>
                    </li>
                </ul><!-- .team-social end -->

            </article><!-- .grid_4 .omega .team end -->

        </article><!-- .grid_12 end -->

        <article class="grid_12 client-carousel">
            <!-- .section-title .center start -->
            <section class="section-title center">
                <div class="title-container carousel">
                    <div class="carousel-nav-container">
                        <ul class="carousel-nav">
                            <li>
                                <a class="prev" href="#"></a>
                            </li>
                        </ul>

                    </div>

                    <section class="title">
                        <h2>Our Clients</h2>
                        <span>Clients & Partners We Work With</span>
                    </section>

                    <div class="carousel-nav-container">
                        <ul class="carousel-nav">
                            <li>
                                <a class="next" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section><!-- .section-title .center end -->

            <ul id="client-carousel" class="carousel-li">
                <li>
                    <a href="">
                        <img src="~/Content/Template/img/about/client1.png" alt="client logo" />
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="~/Content/Template/img/about/client2.png" alt="client logo" />
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="~/Content/Template/img/about/client3.png" alt="client logo" />
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="~/Content/Template/img/about/client4.png" alt="client logo" />
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="~/Content/Template/img/about/client5.png" alt="client logo" />
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="~/Content/Template/img/about/client6.png" alt="client logo" />
                    </a>
                </li>
            </ul><!-- .client-carousel end -->
        </article><!-- .grid_12 end -->

    </div><!-- .container_12 end -->
</section><!-- #content-wrapper end -->