@{
    ViewBag.Title = "Home Page";
}
<!-- .rs-wrapper start -->


    <section class="page-title-container">
        <div class="container_12">
            <div id="slidingcarousel" class="carousel-gallery">

                <div class="carousel-inner">


                    <div class="item">


                        <img src="~/Content/Template/img/slider/slide11.png" />

                        <div class="carousel-caption">
                            <h4>We Proudly Present You QueTECHnologies!</h4>
                        </div>
                    </div>


                    <div class="item">


                        <img src="~/Content/Template/img/slider/slide21.png" />

                        <div class="carousel-caption">
                            <h4>Fully Responsive!</h4>
                        </div>
                    </div>

                    <div class="item">


                        <img src="~/Content/Template/img/slider/slide31.png" />

                        <div class="carousel-caption">
                            <h4>Amazing Layout!</h4>
                        </div>
                    </div>

                </div>
                <a class="carousel-control left" href="#slidingcarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#slidingcarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

</section>
    <!-- .rs-wrapper end -->
    <!-- #content-wrapper start -->
    <section id="content-wrapper">

        <!-- .container_12 start -->
        <div class="container_12">
            <!-- .grid_4 start -->
            <article class="grid_4">
                <section class="service-box-1">
                    <div class="icon">
                        <i class="icon-desktop"></i>
                    </div>

                    <div class="content">
                        <div class="title">
                            <a href="services.html">
                                <h3>Responsive Design</h3>
                            </a>
                            <span>Looks awesome on any mobile device</span>
                        </div>
                    </div>

                </section><!-- .service-box-1 end -->
            </article><!-- .grid_4 end -->
            <!-- .grid_4 start -->
            <article class="grid_4">
                <section class="service-box-1">
                    <div class="icon">
                        <i class="icon-cogs"></i>
                    </div>

                    <div class="content">
                        <div class="title">
                            <a href="services.html">
                                <h3>Easy </h3>
                            </a>
                            <span>User friendly, easy to use</span>
                        </div>
                    </div>
                </section><!-- .service-box-1 end -->
            </article><!-- .grid_4 end -->
            <!-- .grid_4 start -->
            <article class="grid_4">
                <section class="service-box-1">
                    <div class="icon">
                        <i class="icon-group"></i>
                    </div>

                    <div class="content">
                        <div class="title">
                            <a href="services.html">
                                <h3>Excellent Support</h3>
                            </a>
                            <span>We provide support for all our items</span>
                        </div>
                    </div>
                </section><!-- .service-box-1 end -->
            </article><!-- .grid_4 end -->

            <div class="clearfix"></div>

            <!-- .grid_4 start -->
            <article class="grid_4">
                <section class="service-box-1">
                    <div class="icon">
                        <i class="icon-beaker"></i>
                    </div>

                    <div class="content">
                        <div class="title">
                            <a href="services.html">
                                <h3>Super Revolution Slider</h3>
                            </a>
                            <span>Premium Revolution slider included</span>
                        </div>
                    </div>

                </section><!-- .service-box-1 end -->
            </article><!-- .grid_4 end -->
            <!-- .grid_4 start -->
            <article class="grid_4">
                <section class="service-box-1">
                    <div class="icon">
                        <i class="icon-rocket"></i>
                    </div>

                    <div class="content">
                        <div class="title">
                            <a href="services.html">
                                <h3>Amazing Fontawesome Icons</h3>
                            </a>
                            <span>Choose from 200+ Icons</span>
                        </div>
                    </div>
                </section><!-- .service-box-1 end -->
            </article><!-- .grid_4 end -->
            <!-- .grid_4 start -->
            <article class="grid_4">
                <section class="service-box-1">
                    <div class="icon">
                        <i class="icon-leaf"></i>
                    </div>

                    <div class="content">
                        <div class="title">
                            <a href="services.html">
                                <h3>5 Predefined Color Options</h3>
                            </a>
                            <span>Blue, red, green, yellow or orange?</span>
                        </div>
                    </div>
                </section><!-- .service-box-1 end -->
            </article><!-- .grid_4 end -->

            <div class="clearfix"></div>

            <!-- .grid_12 carousel-portfolio end -->
            <article class="grid_12 carousel-gallery">

                <!-- .section-title .center start -->
                <section class="section-title center">

                    <!-- .ttile-container .carousel start -->
                    <div class="title-container carousel">

                        <div class="carousel-nav-container">
                            <ul class="carousel-nav">
                                <li>
                                    <a class="c_prev" href="#"></a>
                                </li>
                            </ul>
                        </div>

                        <section class="title">
                            <h2>Our Portfolio</h2>
                            <span>Some really nice projects</span>
                        </section>

                        <div class="carousel-nav-container">
                            <ul class="carousel-nav">
                                <li>
                                    <a class="c_next" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .title-container .carousel end -->
                </section><!-- .section-title .center end -->

                <ul id="foo2" class="carousel-li">
                    <li class="portfolio-style-2">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-1.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-1.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-2.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-2.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-3.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-3.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-4.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-4.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2" data-alpha="webdesign">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-5.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-5.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-6.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-6.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-7.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-7.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->

                    <li class="portfolio-style-2" data-alpha="graphicdesign">
                        <figure class="portfolio clearfix">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="~/Content/Template/img/portfolio/thumb/portfolio-8.jpg" width="220" alt="portfolio" />
                                </a>

                                <div class="portfolio-hover">
                                    <div class="mask"></div>
                                    <ul>
                                        <li class="portfolio-zoom">
                                            <a href="~/Content/Template/img/portfolio/1col/portfolio-8.jpg"
                                               data-gal="prettyPhoto[pp_gallery]">
                                                zoom
                                            </a>
                                        </li>

                                        <li class="portfolio-single">
                                            <a href="portfolio-single.html">single</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </li><!-- portfolio-style-2 end -->
                </ul><!-- .carousel-li end -->

                <div class="clearfix"></div>

            </article><!-- .grid_12 carousel-portfolio end -->

            <article class="grid_12 latest-blog-posts">
                <!-- .section-title .center start -->
                <section class="section-title center">

                    <!-- .ttile-container .carousel start -->
                    <div class="title-container">
                        <section class="title">
                            <h2>Latest News</h2>
                            <span>Our most interesting news</span>
                        </section>
                    </div><!-- .title-container .carousel end -->
                </section><!-- .section-title .center end -->
                <!-- .grid_6 start -->
                <article class="grid_6 alpha">
                    <section class="post-info">
                        <img src="~/Content/Template/img/blog/small-1.jpg" alt="blog-image" />

                        <div class="comments">
                            <a href="blog-single.html">2 comments</a>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="post-meta">
                            <div class="category">
                                <i class="icon-edit"></i>
                            </div>

                            <div class="title-date">
                                <a href="blog-single.html">
                                    <h6>There are so many good reasons</h6>
                                </a>
                                <span class="date">april 22, 2013</span>
                            </div>
                        </div>

                        <p>
                            Typi non habent claritatem insitam; est usus
                            legentis in iis qui facit eorum claritatem.
                            Investigationes demonstraverunt lectores
                            legere me lius...
                        </p>

                        <div class="read-more-btn">
                            <a href="blog-single.html">Read more</a>
                            <span class="plus">+</span>
                        </div>
                    </section><!-- .post-body end -->

                </article><!-- .grid_6 end -->
                <!-- .grid_6 start -->
                <article class="grid_6 omega">
                    <section class="post-info">
                        <img src="~/Content/Template/img/blog/small-2.jpg" alt="blog-image" />

                        <div class="comments">
                            <a href="blog-single.html">2 comments</a>
                        </div>
                    </section>

                    <section class="post-body">
                        <div class="post-meta">
                            <div class="category">
                                <i class="icon-edit"></i>
                            </div>

                            <div class="title-date">
                                <a href="blog-single.html">
                                    <h6>Why Choose (us)</h6>
                                </a>

                                <span class="date">april 22, 2013</span>
                            </div>
                        </div>

                        <p>
                            Typi non habent claritatem insitam; est usus
                            legentis in iis qui facit eorum claritatem.
                            Investigationes demonstraverunt lectores
                            legere me lius...
                        </p>

                        <div class="read-more-btn">
                            <a href="blog-single.html">Read more</a>
                            <span class="plus">+</span>
                        </div>
                    </section><!-- .post-body end -->

                </article><!-- .grid_6 end -->
            </article>

            <!-- .grid_12 start -->
            <article class="grid_12 client-carousel">

                <!-- .section-title .center start -->
                <section class="section-title center">

                    <!-- .ttile-container .carousel start -->
                    <div class="title-container carousel">

                        <div class="carousel-nav-container">
                            <ul class="carousel-nav">
                                <li>
                                    <a class="prev" href="#"></a>
                                </li>
                            </ul>
                        </div>

                        <section class="title">
                            <h2>Our Clients</h2>
                            <span>Clients We Work With</span>
                        </section>

                        <div class="carousel-nav-container">
                            <ul class="carousel-nav">
                                <li>
                                    <a class="next" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .title-container .carousel end -->
                </section><!-- .section-title .center end -->
                <!-- .client-carousel .carousel-li start -->
                <ul id="client-carousel" class="carousel-li">
                    <li>
                        <a href="">
                            <img src="~/Content/Template/img/about/client1.png" alt="client logo" />
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="~/Content/Template/img/about/client2.png" alt="client logo" />
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="~/Content/Template/img/about/client3.png" alt="client logo" />
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="~/Content/Template/img/about/client4.png" alt="client logo" />
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="~/Content/Template/img/about/client5.png" alt="client logo" />
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img src="~/Content/Template/img/about/client6.png" alt="client logo" />
                        </a>
                    </li>
                </ul><!-- .client-carousel .carousel-li end -->
            </article><!-- .grid_12 end -->

        </div><!-- .container_12 end -->

    </section><!-- #content-wrapper end -->
